<%-
   include('../templates/headers', {
      title: 'Banned',
      noDefaultStyle: true
   });
%>
<body>
   <div id="container">
      <img src="/u/1/avatar">
      <p>You are banned, oof, the end.</p>
   </div>
</body>
</html>
