<%-
   include('../templates/headers', {
      title: 'Not implemented',
      css: `
         @media only screen and (max-width:768px) {
            #container {
               padding-top: 20px
            }
         }`
   });
%>
<body>
   <%- include('../templates/nav') %>
   <div id="container">
      <h4>501 Not Implemented</h4>
      <p>This page/feature has not yet been implemented.</p>
   </div>
</body>
</html>
