<%-
   include('../templates/headers', {
      title: 'System Message'
   });
%>
<body>
    <div id="container">
      <%- include ('../templates/nav') -%>
      <h4><%= message %></h4>
   </div>
</body>
</html>
